<mat-card>
    <mat-card-content>
        <form #postForm="ngForm" (ngSubmit)="onSubmit()">
            <mat-form-field>
                <mat-form-field>
                    <div class="mat-h2">Novo post</div>
                    <input matInput placeholder="Título" [(ngModel)]="title" name="username">
                    <mat-error>
                    Por favor insira um titulo válido
                    </mat-error>
                </mat-form-field>
                <mat-form-field>
                    <textarea matInput  placeholder="Conteúdo" [(ngModel)]="content" name="content"></textarea>
                    <mat-error>
                    Por favor insira conteúdo ao seu post
                    </mat-error>
                </mat-form-field>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Postar</button>
        </form>
    </mat-card-content>
</mat-card>